.modalGallery {
    background-color: $white;
}
.galleryHeader {
    background-color: #f8f4ed;
    border-bottom: solid 3px $orange;
}
.galleryHeader h4 {
    color: $teal;
    font-family: poppins;
    font-weight: 400;
    letter-spacing: 1px;
    
}
.close {
    text-shadow: none;
    opacity: 1;
    color: $purple;
    font-size: 2rem;
}
.close:hover {
    color: $purple;
}
.galleryBody h6 {
    color: $blue;
}
.modal-backdrop {
    opacity: .95 !important;
    background-color: #0f1e29;
    // background-color: #1e1820;
}
.galleryImage{
    padding: 0px 15px 15px;
}
.galleryImage img{
    width: 100%;
    height: auto;
}
.galleryBody a{
    text-decoration: none; 
}
.link p{
    color: $purple;
}
.link p:hover{
    opacity: 0.75;
}