.myNav{
    background-color: $white;
    border-bottom: solid 2px $orange;
    padding: 15px 15px;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.myNavLeft h6{
    margin-bottom: 0px;
    font-family: 'Trebuchet MS';
    color: $blue;
}
.myNavRight h6{
    margin-bottom: 0px;
    font-family: 'Trebuchet MS';
    color: $teal;
    cursor: pointer;
}
.myNavRight{
    display: flex;
    justify-content: flex-end;
}
.myNavLeftPortfolio{
    color: $purple;
    font-weight: bold;
}