.myNav{
    background-color: $offWhite;
    border-bottom: solid 4px $orange;
    padding: 20px 0px;
    position: fixed;
    z-index: 1;
}
.navBar{
    max-width: 1300px;
    padding: 0px 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBarLeft h4{
    margin-bottom: 0px;
    font-family: 'Oswald';
    color: $blue;
    font-weight: 500;
    letter-spacing: 1px;
}
.navBarRight h4{
    margin-bottom: 0px;
    font-family: 'Oswald';
    color: $teal;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.navBarRight h5{
    display: none;
}
.navBarLeftPortfolio{
    color: $purple;
}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 500px) {
    .navBarLeft h4{
        font-size: 1.3rem;
    }
    .navBarRight h4{
        font-size: 1.3rem;
    }
    .navBarRight h4{
        display: none;
    }
    .navBarRight h5{
        display: block;
        margin-bottom: 0px;
        font-family: 'Oswald';
        color: $teal;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
    }
}