.myFooter{
    background-color: $white;
    border-top: solid 2px $orange;
    padding: 15px 15px;
}
.myFooterLeft h6{
    margin-bottom: 0px;
    font-family: 'Trebuchet MS';
    color: $blue;
}
.myFooterRight h6{
    margin-bottom: 0px;
    font-family: 'Trebuchet MS';
    color: $teal;
}
.myFooterRight{
    display: flex;
    justify-content: flex-end;
}
.myFooterLeftPortfolio{
    color: $purple;
    font-weight: bold;
}